.dice{
    height: 130px;
    width: 130px;
    margin: 2px;
    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dice:hover{
    cursor: pointer;
}

.dice > h1{
    font-size: 50px;
}

.containerDice{
    display: flex;
    justify-content: space-evenly;
    width: 45vw;
}

.playScreen{
    width: 50vw;
    background-color: lightblue;
    min-height: 100vh;
}

.diceRoll{
    align-self: center;
    margin-top: 50px;
    width: 200px;
    height: 50px;
    font-weight: bold;
    border-radius: 10px;
    background-color:#a55beb;
    color: white;
    font-size: 20px;
    border: 2px solid black;
}
.diceRoll:hover{
    cursor: pointer;
}
.allDice{
    display: flex;
    flex-direction: column;
}

.playScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.playScreen > h1 {
    font-size: 80px;
    text-decoration: underline;
}

.scoreCard{
    background-color:lightgrey;
    width:600px;
    min-height:500px;
    margin: 20px;
    padding: 10px;

}

.scoreCard>h2 {
    text-decoration: underline;
}

.scoreCards{
    display: flex;
    justify-content: space-around;
}

.amountheld{
    font-weight: bold;
    font-size: 27px;
    display: flex;
    justify-content: space-evenly;
}